@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    color: grey;
    height: 65px;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 0;
    font-family: "Protest Riot", sans-serif;
}

nav ul {
    list-style-type: none;
}

.gamecontainer {
    display: flex ;
    background-color: grey;
    color: black;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: "Protest Riot", sans-serif;
    position: relative;
}

.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: white;
}

.info{
    font-size: 20px;
    padding-left: 45px;
}
.gameinfo {
    padding: 0 34px;
    font-family: "Protest Riot", sans-serif;
    padding: 45px 30px;
    padding-left: 45px;
}

.imagebox img {
    transition: width is ease-in-out;
    width: 0px;
    padding: 0px 40px;
    height: 130px;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}
#reset{
    background-color: grey;
    color: black;
    border-radius: 20px;
    font-size: 15px;
    font-family: "Protest Riot", sans-serif;
    margin: 10px 23px;
    padding: 1px 12px;
    cursor: pointer;
}
@media screen and (max-width: 800px){
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 30px;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}